html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Varela Round", sans-serif;
  vertical-align: baseline;
  text-decoration: none;
}

body {
  color: #566787;
  background: #f5f5f5;
}

.container {
  width: 85vw;
  margin: 0 auto;
  box-sizing: border-box;
}

.table-wrapper {
  background: #fff;
  padding: 20px 25px;
  margin: 40px 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.table-wrapper .table-title {
  background: #435d7d;
  color: #fff;
  padding: 16px 30px;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}
.table-wrapper .table-title .title-wrapper {
  display: flex;
  justify-content: space-between;
}
.table-wrapper .table-title .title-wrapper .title {
  font-size: 24px;
  line-height: 36px;
}
.table-wrapper .table-title .title-wrapper .title h2 {
  font-weight: 300;
}
.table-wrapper .table-title .title-wrapper .title b {
  font-weight: 700;
}
.table-wrapper .table-title .title-wrapper .btn-container {
  margin-left: 10px;
}
.table-wrapper .table-title .title-wrapper .btn-container .btn {
  font-size: 13px;
  border-radius: 2px;
  background-color: #5cb85c;
  color: #fff;
  padding: 6px 12px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.table-wrapper .table-title .title-wrapper .btn-container .btn .material-icons {
  margin-right: 5px;
}

.row {
  overflow: hidden;
}
.row #search {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  color: grey;
  float: right;
  margin-top: 20px;
}

.table {
  margin: 20px 0;
  width: 100%;
  font-size: 13px;
  border-spacing: 0;
  border-collapse: collapse;
}
.table th, .table td {
  padding: 12px 15px;
  text-align: left;
}
.table thead tr th {
  border-bottom: 2px solid #ddd;
}
.table thead tr th .custom-checkbox {
  position: relative;
}
.table thead tr th .custom-checkbox #select-all {
  opacity: 0;
}
.table thead tr th .custom-checkbox label::before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  background: white;
  border: 1px solid #bbb;
  border-radius: 2px;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0;
  left: 0;
}
.table thead tr th .custom-checkbox #select-all:checked + label::before {
  background-color: #03a9f4;
}
.table thead tr th .custom-checkbox #select-all:checked + label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 5px;
  height: 11px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  z-index: 3;
  transform: rotateZ(45deg);
}
.table tbody tr:nth-of-type(2n+1) {
  background-color: #fcfcfc;
}
.table tbody tr:hover {
  background: #f5f5f5;
}
.table tbody tr td {
  padding-bottom: 25px;
}
.table tbody tr .option-btns {
  padding-left: 22px;
  cursor: pointer;
}
.table tbody tr .option-btns .edit {
  color: #ffc107;
}
.table tbody tr .option-btns .delete {
  color: #f44336;
}
.table tbody tr .custom-checkbox label {
  position: relative;
}
.table tbody tr .custom-checkbox label::before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  background: white;
  border: 1px solid #bbb;
  border-radius: 2px;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0;
  left: -20px;
}
.table tbody tr .custom-checkbox:checked + label::before {
  background-color: #03a9f4;
}
.table tbody tr .custom-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 5px;
  height: 11px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  z-index: 3;
  transform: rotateZ(45deg);
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 45%;
  border-radius: 0.2rem;
  padding: 20px 30px;
}
.modal-content .modal-header {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.modal-content .modal-header .close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
}
.modal-content .modal-header .close-button:hover {
  background-color: darkgray;
}
.modal-content .modal-body {
  margin: 30px 0 35px 0;
  font-size: 13px;
}
.modal-content .modal-body .form-group {
  margin: 0 27px 15px 0;
}
.modal-content .modal-body .form-group label {
  font-size: 13px;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}
.modal-content .modal-body .form-group .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.modal-content .modal-body .warning {
  margin-top: 15px;
  color: #8a6d3b;
  font-size: 12px;
  display: block;
}
.modal-content .modal-footer {
  border-radius: 0 0 3px 3px;
  text-align: right;
}
.modal-content .modal-footer .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}
.modal-content .modal-footer .btn-success {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #fff;
}
.modal-content .modal-footer .btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.modal-content .modal-footer .btn-delete {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.modal-content .modal-footer .btn-edit {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/*# sourceMappingURL=styles.css.map */
