.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 45%;
    border-radius: 0.2rem;
    padding: 20px 30px;

    .modal-header {
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 15px;
        display: flex;
        justify-content: space-between;
        font-size: 18px;

        .close-button {
            float: right;
            width: 1.5rem;
            line-height: 1.5rem;
            text-align: center;
            cursor: pointer;

            &:hover {
                background-color: darkgray;
            }
        }
    }

    .modal-body {
        margin: 30px 0 35px 0;
        font-size: 13px;

        .form-group {
            margin: 0 27px 15px 0;

            label {
                font-size: 13px;
                display: inline-block;
                max-width: 100%;
                margin-bottom: 5px;
            }

            .form-control {
                display: block;
                width: 100%;
                height: 34px;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.42857143;
                color: #555;
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc;
                transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            }
        }

        .warning {
            margin-top: 15px;
            color: #8a6d3b;
            font-size: 12px;
            display: block;
        }
    }

    .modal-footer {
        border-radius: 0 0 3px 3px;
        text-align: right;

        .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            touch-action: manipulation;
            cursor: pointer;
            user-select: none;
            background-image: none;
            border: 1px solid transparent
        }

        .btn-success {
            background-color: #5cb85c;
            border-color: #4cae4c;
            color: #fff;
        }

        .btn-default {
            color: #333;
            background-color: #fff;
            border-color: #ccc;
        }

        .btn-delete {
            color: #fff;
            background-color: #d9534f;
            border-color: #d43f3a;
        }

        .btn-edit {
            color: #fff;
            background-color: #5bc0de;
            border-color: #46b8da;
        }
    }
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}